* {
    margin: 0;
    padding: 0;
    /* border: solid red 1px; */
}

body {
    display: flex;
    flex-direction: column;
}

.button-1 {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 130px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}

h2 {
  font-size: 36px;
  color: #1F2937;
}

/* header */

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 20px 0; 
    justify-content: space-between;
    width: 100%;
}

.logo-text {
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 18px;
    list-style-type: none;
}

.secondary-text, .header-links > li a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 20px;
}

.header-right, .header-left {
    display: flex;
    align-items: center;
    padding: 0 10%;
}

/* landing page */

.landing-page {
    background-color: #1F2937;
    display: flex;
    padding: 100px 0;
}

.landing-text {
    font-size: 48px;
    color: #F9FAF8;
}

.landing-left {
    flex: 1;
    padding-left: 10%;
    padding-right: 60px;
}

.landing-left > * {
    padding: 10px 0;
}

.landing-right {
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-right: 10%;
}

.landing-right > img {
    max-width: 100%;
}

/* examples */

.examples {
  background-color: #F9FAF8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.examples-header {
  padding: 45px 0;
}

.examples-header > h2 {
  color: #1F2937;
}

.examples-container {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  justify-content: center;
}

.example-box {
  text-align: center;
  width: 160px;
}

.example-box > p {
  color: #1F2937;
}

.example-image {
  border: solid 3px #3882F6;
  border-radius: 18px;
  height: 150px;
  width: 150px;
}


/* web fonts */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}